body {
	font-family: 'Noto Sans KR', sans-serif;
	color: #fff;
	background-color: #000;
	margin-top: 100px;
}

.container {
	position: relative;
	width: 1440px;
	margin: 0 auto;
}

#rental-page-opera {
	height: 1068px;
	z-index: 0;
	display: flex;
}

#rental-page-opera.on {
	display: none;
}

#rental-page-opera .container > h1 {
	font-weight: 700;
	font-size: 40px;
	position: absolute;
	margin-left: 180px;
	top: 30px;
}

.page {
	position: absolute;
	top: 108px;
	left: 308px;
}

.page a {
	background: #D9D9D9;
	color: #000;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
	z-index: 3;
}

.rental-page-opera-btn {
	position: absolute;
	width: 130px;
	height: 50px;
	left: 180px;
	top: 108px;
}

.rental-page-concert-btn {
	position: absolute;
	width: 130px;
	height: 50px;
	left: 315px;
	top: 108px;
}

.rental-page-ensemble-btn {
	position: absolute;
	width: 130px;
	height: 50px;
	left: 450px;
	top: 108px;
}

#rental-page-opera h2 {
	position: absolute;
	left: 180px;
	top: 198px;
	font-weight: 700;
	font-size: 32px;
	line-height: 46px;
}

.img01 {
	position: absolute;
	width: 518px;
	height: 368px;
	left: 180px;
	top: 264px;
}

.img02 {
	position: absolute;
	width: 518px;
	height: 368px;
	left: 742px;
	top: 264px;
}

#rental-page-opera .container>a {
	position: absolute;
	width: 180px;
	height: 50px;
	right: 178px;
	top: 194px;
	background: #D9D9D9;
	color: #000;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
}

.text p:nth-child(1) {
	position: absolute;
	max-width: 403px;
	left: 180px;
	top: 665px;
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
}

.text p:nth-child(2) {
	position: absolute;
	max-width: 821px;
	left: 181px;
	top: 741px;
	font-weight: 700;
	font-size: 20px;
}

.text p:nth-child(3) {
	position: absolute;
	max-width: 1079px;
	left: 181px;
	top: 793px;
	font-weight: 500;
	font-size: 16px;
}


#rental-page-concert .text p:nth-child(3) {
	position: absolute;
	max-width: 1079px;
	left: 181px;
	top: 793px;
	margin-top: 23px;
	font-weight: 500;
	font-size: 16px;
}


#rental-page-ensemble .text p:nth-child(3) {
	position: absolute;
	max-width: 1079px;
	left: 181px;
	top: 793px;
	margin-top: 23px;
	font-weight: 500;
	font-size: 16px;
}



#rental-page-concert {
	height: 1068px;
	z-index: 0;
	display: none;
}

#rental-page-concert.on{
	display: flex;
}

#rental-page-concert .container > h1 {
	font-weight: 700;
	font-size: 40px;
	position: absolute;
	margin-left: 180px;
	top: 30px;
}

#rental-page-concert h2 {
	position: absolute;
	left: 180px;
	top: 198px;
	font-weight: 700;
	font-size: 32px;
	line-height: 46px;
}

#rental-page-concert .container>a {
	position: absolute;
	width: 180px;
	height: 50px;
	right: 178px;
	top: 194px;
	background: #D9D9D9;
	color: #000;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
}




#rental-page-ensemble {
	height: 1068px;
	z-index: 0;
	display: none;
}

#rental-page-ensemble.on{
	display: flex;
}

#rental-page-ensemble .container > h1 {
	font-weight: 700;
	font-size: 40px;
	position: absolute;
	margin-left: 180px;
	top: 30px;
}

#rental-page-ensemble h2 {
	position: absolute;
	left: 180px;
	top: 198px;
	font-weight: 700;
	font-size: 32px;
	line-height: 46px;
}

#rental-page-ensemble .container>a {
	position: absolute;
	width: 180px;
	height: 50px;
	right: 178px;
	top: 194px;
	background: #D9D9D9;
	color: #000;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 18px;
}