:root {
    --header-height: 100px;
    --main-color: #000066;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1440px;
    margin: 0 auto;
}