@import url('reset.css');
@import url('main.css');


/* 헤더와 푸터 백그라운드동영상 */
/* 헤더 */
#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: 10;
}

#header .container {
    height: var(--header-height);

    position: relative;
}

#header .container .logo {
    position: absolute;
    margin-top: 18px;
    margin-left: 28px;
}

#header .container #header-gnb {
    position: absolute;
    margin-top: 30px;
    margin-left: 531px;

    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

/* 헤더 gnb */
#header-gnb .gnb {
    display: flex;
    text-align: center;
    width: 694px;
}

.gnb>li {
    width: 25%;
    height: 70px;
    line-height: 70px;
    position: relative;
}

.gnb>li:hover {
    background-color: #000;
}

.gnb>li>a {
    display: block;
}

.gnb>li>.sub {
    position: absolute;
    width: 100%;
    display: none;
}

.gnb>li>.sub>li {
    height: 50px;
    line-height: 50px;
}

.gnb>li>.sub>li:hover {
    background-color: #000;
}

.gnb>li>.sub>li>a {
    display: block;
}

/* 헤더 토글버튼 */
#toggle-menu-btn {
    position: absolute;
    right: 33px;
    top: 33px;
}
.hamburger .line {
	width: 50px;
	height: 5px;
	background-color: #ecf0f1;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.hamburger:hover {
	cursor: pointer;
}
.hamburger.active .line:nth-child(2) {
	opacity: 0;
}

.hamburger.active .line:nth-child(1) {
	-webkit-transform: translateY(13px) rotate(45deg);
	-ms-transform: translateY(13px) rotate(45deg);
	-o-transform: translateY(13px) rotate(45deg);
	transform: translateY(13px) rotate(45deg);
}

.hamburger.active .line:nth-child(3) {
	-webkit-transform: translateY(-13px) rotate(-45deg);
	-ms-transform: translateY(-13px) rotate(-45deg);
	-o-transform: translateY(-13px) rotate(-45deg);
	transform: translateY(-13px) rotate(-45deg);
}

#toggle-menu {
    position: absolute;
    right: 0;
    top: var(--header-height);
    width: 500px;
    height: 100vh;
    background-color: #fff;
    /* 많이축소하면 보임 ㅎㅎ.. */
    transform: translateX(200%);
    transition: .5s;
}
#toggle-menu.on {
    display: block;
    transform: translateX(0);
}
/* 백그라운드 동영상 */
#background-youtube {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: pink;
}